<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="logfile" xsi:type="File" fileName="SqlWorkload.log" layout="${longdate} - ${level} - ${logger}${when:when='${event-properties:item=Worker}'=='':else=(${event-properties:item=Worker})} : ${message:withexception=true}" />
    <target name="warnfile" xsi:type="File" fileName="Warnings.log" layout="${longdate} - ${logger}${when:when='${event-properties:item=Worker}'=='':else=(${event-properties:item=Worker})} - ${message:withexception=true}" />
    <target name="console" xsi:type="ColoredConsole" layout="${level} - ${logger}${when:when='${event-properties:item=Worker}'=='':else=(${event-properties:item=Worker})} : ${message:withexception=true}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" levels="Warn" writeTo="warnfile" />
  </rules>
</nlog>
