<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkloadTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorkloadTools.Properties.Settings>
            <setting name="SqlTextNormalizer_TRUNCATE_TO_4000" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqlTextNormalizer_TRUNCATE_TO_1024K" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkloadAnalyzer_MAX_WRITE_RETRIES" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ReplayWorker_COMPUTE_AVERAGE_STATS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplayWorker_CONSUME_RESULTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplayWorker_DEFAULT_QUERY_TIMEOUT_SECONDS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReplayWorker_WORKLOAD_INFO_COMMAND_COUNT" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ReplayConsumer_SEMAPHORE_LIMIT" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ReplayConsumer_WORKER_EXPIRY_TIMEOUT_MINUTES"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SqlTraceWorkloadListener_DEFAULT_TRACE_INTERVAL_SECONDS"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SqlTraceWorkloadListener_DEFAULT_TRACE_ROWS_SLEEP_THRESHOLD"
                serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SqlTraceWorkloadListener_DEFAULT_TRACE_SIZE_MB"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SqlTraceWorkloadListener_DEFAULT_TRACE_ROLLOVER_COUNT"
                serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReplayWorker_MIMIC_APPLICATION_NAME" serializeAs="String">
                <value>False</value>
            </setting>
        </WorkloadTools.Properties.Settings>
    </applicationSettings>
</configuration>