<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir0B6DC86EBAB610CFD56B476ECDD18AF2" Name="Config" />
            <Directory Id="dirCE729CC1DF16C0738E3BD1A75D559D66" Name="Listener" />
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64" />
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="cmpCC5600A0E0013FC2479752FF2E317D0E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA37EA31C1F18E8079A0153A07EC2C1F2" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\CommandLine.dll" />
            </Component>
            <Component Id="cmp1E79642B0C11D101EF141136BB99312D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil15F5E6A23B41DE653F48646CA3EBDF78" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\CommandLine.xml" />
            </Component>
            <Component Id="cmpA01095AF9CFA5A32015D9DAF0D0F6C50" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0BA50AC001246B614D8DC33BE0669EEC" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\DouglasCrockford.JsMin.dll" />
            </Component>
            <Component Id="cmpB3496578D4AA802C435514FAFFA0E4B3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC61A642CA14F84C7C0FE33B8B6DBE632" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Microsoft.SqlServer.XE.Core.dll" />
            </Component>
            <Component Id="cmp30089B5CE6159E09A80541BFF0B51B6B" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filBB22A2EC292A49A631C94B20677FFD23" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Microsoft.SqlServer.XEvent.Linq.dll" />
            </Component>
            <Component Id="cmp42CE9AE95732AA34478329FB9DE90B9C" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD7AACEE505C0A6D9F0953957C6B91C28" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\NLog.config" />
            </Component>
            <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\NLog.dll" />
            </Component>
            <Component Id="cmpAF162B14FA6391E4D0D34D9485A3CBEB" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil938BF1D1B479C73F0CECCBD51683AA0E" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\NLog.xml" />
            </Component>
            <Component Id="cmp2AC5F9B3523329CD16CDB6B65F5DAD22" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil97B9A631DAA19F945E12E19DB83E144C" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\SqlWorkload.exe" />
            </Component>
            <Component Id="cmpD623627F55B46FADB7FC111EF8F2C3B1" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC08259B8DE9E0408FF2173A4404F9612" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\SqlWorkload.exe.config" />
            </Component>
            <Component Id="cmpA6B5165150F0F690A554A7309E70EFD6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil55CCEFE53FEE1D5DBF368E55DFB201F3" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\SqlWorkload.pdb" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpE25D4339F043AE9AF876A4620A6432C9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil231CA1DE8C286CE1F5188773A945762D" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\System.Data.SQLite.dll.config" />
            </Component>
            <Component Id="cmpB0D00055965EDE11CC624747CE56C686" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1AD5F5CE645B996B33CF1EF5C058BA4F" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\System.Data.SQLite.xml" />
            </Component>
            <Component Id="cmp05556E8AE47641536D245549C5EC7500" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil95B4D4D8E479952DC67C571B09F2AFDA" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\WorkloadTools.dll" />
            </Component>
            <Component Id="cmp493435992D6EF54C4B4424985BB36485" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil8E5323D622012EC8C77BCEBC134AE5BF" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\WorkloadTools.dll.config" />
            </Component>
            <Component Id="cmp958922001C37ACCB5AA0AC54BCB6511A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil709766B8AA78AC35D1A30D08C511F711" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\WorkloadTools.pdb" />
            </Component>
            <Component Id="cmp9322FB50F849FCE6E0CCB250E0877E85" Directory="dir0B6DC86EBAB610CFD56B476ECDD18AF2" Guid="*">
                <File Id="fil57A4E73E9E210149B3BC2805252B14F1" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Config\AnalysisSample.json" />
            </Component>
            <Component Id="cmp688BB9A10ABBF88FB31D2708442CFB53" Directory="dir0B6DC86EBAB610CFD56B476ECDD18AF2" Guid="*">
                <File Id="filC789B179FCE44EDB8E2279E0E243DC97" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Config\ReplaySample.json" />
            </Component>
            <Component Id="cmp973690E5F7F4120FD2453D6EC54FB80E" Directory="dir0B6DC86EBAB610CFD56B476ECDD18AF2" Guid="*">
                <File Id="filAABAF8618795683DFB1156B0BF722039" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Config\Sample.json" />
            </Component>
            <Component Id="cmp11A9A56B63541F42F6915471C28478FF" Directory="dirF1254D239C922CE6C90F984872A78D5D" Guid="*">
                <File Id="filDCDD6EAE3928132D45D50442BCED73AE" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Listener\ExtendedEvents\sqlworkload.sql" />
            </Component>
            <Component Id="cmpAA8D18FF6797819A39E9AD8773596ADF" Directory="dir1F1F516779A36D170FEE7B5FCA5CCC01" Guid="*">
                <File Id="fil269443B3F0F45523065EC804DFE929BD" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Listener\Trace\sqlworkload.sql" />
            </Component>
            <Component Id="cmpFB7B1475A0505F468983079D796833B8" Directory="dir1F1F516779A36D170FEE7B5FCA5CCC01" Guid="*">
                <File Id="filAB55B09A63EF8C3712CEA5890FECE3FF" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\Listener\Trace\sqlworkload.tdf" />
            </Component>
            <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Directory="dir43FCCFA109FBF584D9155DCE31E452EB" Guid="*">
                <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\x64\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Directory="dir97F42FF68945B97AAE670945C4FDAE93" Guid="*">
                <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="$(var.SqlWorkload.TargetDir)\x86\SQLite.Interop.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCE729CC1DF16C0738E3BD1A75D559D66">
            <Directory Id="dir1F1F516779A36D170FEE7B5FCA5CCC01" Name="Trace" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCE729CC1DF16C0738E3BD1A75D559D66">
            <Directory Id="dirF1254D239C922CE6C90F984872A78D5D" Name="ExtendedEvents" />
        </DirectoryRef>
    </Fragment>
</Wix>